/* demo16-1.css */ 

a { /* 对所有超链接有效*/
    text-decoration: none;
    padding: 10px;
}

a:link { color: blue }
a:visited {color: #666666}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color:brown;
    text-decoration:underline;
}

/*用于菜单的超链接*/
a.menu {
    font-family: 微软雅黑;
    font-size: 16px;
}

a.menu:link,
a.menu:visited,
a.menu:active {
    color: white;
    background-color: #90000a;
}

a.menu:hover {
    color: yellow;
    text-decoration: underline;
    background-color: #336699;
}

/* 背景音乐播放*/


