.title {
    font-size:33px;
    font-weight:bold;
    text-align:center;
}

.time {
    font-weight:lighter;
	margin: 0;
}

#time {
    /* line-height:75px; */
   /* position:absolute;
    top:320px;
    left:1100px; */
	float: right;
	
}

.article {
    line-height:26px;
    font-size:18px;
    word-break:break-all;
    font-weight:lighter;
}

#text {
	width: 1000px;
	margin: 0 auto;
}