/* demo16-1.css */ 

a { /* 对所有超链接有效*/
    text-decoration: none;
    padding: 10px;
}

a:link { color: blue }
a:visited {color: #666666}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color:brown;
    text-decoration:underline;
}

/*用于菜单的超链接*/
a.menu {
    font-family: 微软雅黑;
    font-size: 16px;
}

a.menu:link,
a.menu:visited,
a.menu:active {
    color: white;
    background-color: #90000a;
}

a.menu:hover {
    color: yellow;
    text-decoration: underline;
    background-color: #336699;
}

/* 背景音乐播放*/

/*作业各部分标题*/
.work {
    color:rgb(255, 0, 0);
    font: 3em 楷体,黑体,微软雅黑 bold;
    line-height:0.0000005;
}

/* 修改元素为内联块状元素 */
.way {
	display: inline-block;
}       
/* part1代码 */

.fontstyle1 {
    font-family:楷体;
}

.fontstyle2 {
    font-size:16px;
}

.fontstyle3 {
    font-style:italic;
}
.fontstyle4 {
    font-variant: small-caps;
}
.fontstyle5 {
    font-weight:bold;
}
.fontstyle6 {
    font:1.8rem 楷体；
}


/* part2代码 */

.textstyle1 {
    color:blue;
}

.textstyle2 {
    direction:rtl;
}

.textstyle3 {
    line-height:10px;
}

.textstyle4 {
    letter-spacing:3em;
}

.textstyle5 {
    text-align:right;
}

.textstyle6 {
    text-decoration:underline;
}

.textstyle7 {
    text-indent:100px;
}

.textstyle8 {
    text-transform:capitalize;
}

.textstyle9 {
    white-space:pe-line;
}

.textstyle10 {
    word-break:break-all;
}

.textstyle11 {
    word-spacing:30px;
}

.fontstyle {
    color:black;
    font-size:18px;
}

.bk {
    background-image:url(../Images/bk2hb75.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
 p {
     background-color:white;
 }



/* part3代码 */
h1.style {
    height:600px;
    width: 600px;
    font-size:20px;
    color:green;
}

/* backTop代码 */
.backTop {
    display:block;
    bottom:100px;
    right:100px;
    position:fixed;
}



