
.fontstyle {
    color:white;
    font-size:18px;
}

.bk {
    background-image:url(../Images/sleeping.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
 p {
     background-color:white;
 }



/* part1*/

.div1{
    border-style:dashed solid dashed solid;
    border-color:rgb(143, 103, 238);
    border-width:10px;    
    padding-left:150px;
    padding-top:150px;
    padding-bottom:150px;
    padding-right:200px;
    margin:20px 50px 20px 50px;
}

/* part2 */
.div2 {
    display:inline;
    border-style:solid;
    margin:0 50px;
}

.div3 {
    display:inline;
    border-style:solid;
    margin:0 0 0 100px;
}

.div4 {
    display:block;
    border-style:solid;
    margin:50px 0 25px 0;
}

.div5 {
    display:block;
    border-style:solid;
    margin:100px 0 0 0;
}